<div class="card-recipe">
  <div class="card-recipe--top">
    <%= image_tag recipe.image, class: "card-recipe--top__img" %>
    <div class="icon-content" data-action="click->day#toggleLock">
      <i class="fa fa-unlock" aria-hidden="true"></i>
      <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card-recipe--content">
    <h3><%= recipe.name %></h3>
    <span class="card-recipe--content__price"><%= recipe.price %></span>
    <span class="card-recipe--content__prep-time"><%= recipe.prep_duration %> minutes</span>
    <span class="card-recipe--content__total-time"><%= recipe.total_duration %> minutes</span>
  </div>
</div>
