<div class="card-recipe" data-controller="expander" data-expander-target="output">
  <div class="card-recipe--top">
    <%= image_tag recipe.image, class: "card-recipe--top__img" %>
  </div>

  <div class="card-recipe--content">

    <div class="card-recipe--content__info">
      <h3><%= recipe.name %></h3>
      <span class="card-recipe--content__prep-time"><i class="fas fa-hourglass-end"></i> Prépration : <%= recipe.prep_duration %> minutes</span>
      <span class="card-recipe--content__total-time"><i class="fas fa-utensils"></i> Total : <%= recipe.total_duration %> minutes</span>
    </div>

    <div class="card-recipe--content__ingredients">
      <h4>Ingrédients:</h4>
      <% recipe.ingredients.each do |ingredient| %>
        <div class="card-recipe--content__ingredients-info">
          • <span data-counter-target="quantity"><%= ingredient.quantity %></span> <span id="submit"><%= ingredient.name %></span>
        </div>
      <% end %>
    </div>

    <div class="card-recipe--content__actions">
      <div class="incrementer-button">
        <a class="btn incrementer"  data-action="click->counter#decrease" data-offset="-1">-</a>
        <span id="counter" data-counter-target="input" data-day-target="nbPerson" data-count="1"><%= recipe.people %></span>
        <a class="btn incrementer" data-action="click->counter#increase"  data-offset="1">+</a>
      </div>
    </div>

    <div class="card-recipe--bottom" >
      <div class="card-recipe--bottom__icon">
        <i class="fas fa-chevron-down" data-action="click->expander#expandcard"></i>
      </div>
    </div>

  </div>
</div>
