<div class="wrapper">
  <div class="home-banner">
    <div class="home-banner--logo">
      <%= image_tag "logo_randomeal_ntypo.png", class: "home-banner--logo__img" %>
      <span class="home-banner--logo__title">Randomeal</span>
    </div>
    <div class="home-banner--content">
      <h1 class="home-banner--content__title">Gagner du temps et de l'argent avec vos repas !</h1>
      <p class="home-banner--content__paragraph">Planifier, générer et organiser vos repas de la semaine en seulement quelques clics</p>
    </div>
    <%= link_to "Découvrir maintenant !", plans_path, class: "btn btn--primary" %>
  </div>

  <div class="home-feature-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="card-recipe">
                <div class="card-recipe--top">
                  <%= image_tag @recipe.image, class: "card-recipe--top__img" %>
                </div>
                <div class="card-recipe--content">
                  <h3><%= @recipe.name %></h3>
                  <p>Découvrez cette délicieuse recette de <%= @recipe.name %> !</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card-recipe">
                <div class="card-recipe--top">
                  <%= image_tag @recipe.image, class: "card-recipe--top__img" %>
                </div>
                <div class="card-recipe--content">
                  <h3><%= @recipe.name %></h3>
                  <p>Découvrez cette délicieuse recette de <%= @recipe.name %> !</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="home-feature-1--content">
            <h2>Trouvez l'inspiration</h2>
            <p>Qu'on aime la cuisine ou non, decider de ce que nous allons manger peut representer une veritable corvée... Alors laissez nous faire et <strong>régalez vous !!</strong>
            Filtrer vos exigences parmi nos 190235 recettes, un click et le tour est joué !
            Si le menu ne vous satisfait pas, un simple click et un nouveau menu se présente a vous.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="home-feature-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="home-feature-1--content">
            <h2>Trouvez l'inspiration</h2>
            <p>Qu'on aime la cuisine ou non, decider de ce que nous allons manger peut representer une veritable corvée... Alors laissez nous faire et <strong>régalez vous !!</strong>
            Filtrer vos exigences parmi nos 190235 recettes, un click et le tour est joué !
            Si le menu ne vous satisfait pas, un simple click et un nouveau menu se présente a vous.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <%= image_tag "randomeal_planificateur_de_menu.jpg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="home-team">
    <div class="container">
      <div class="row">
         <h2>L'équipe RandoMeal</h2>
        <div class="col-12 col-md-4">
          <div class="home-team--container">
            <%= image_tag "charles.png" %>
            <h3>Charlinou</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="home-team--container">
            <%= image_tag "deborah.jpg" %>
            <h3>Debo</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="home-team--container">
            <%= image_tag "pierre.png" %>
            <h3>Stone</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
