<div class="wrapper plan-wrap">

    <div class="header">
      <h1>Vos recettes de la semaine</h1>
    </div>

    <!-- Filtres des menus -->
      <div class="tools">
        <span>Végétarien</span>
        <span>Vegan</span>
        <span>Sans gluten</span>
        <span>Thermomix</span>
      </div>

    <!-- Menu de la semaine -->
    <div class="plan-randomizer">
      <div class="row">
        <% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>
        <% @recipes.each_with_index do |recipe, index| %>
        <div class="col-12 col-md" data-controller="counter">
          <div class="day">

            <div class="actions">
              <a class="btn round-bordered incrementer minus"  data-action="click->counter#decrease" data-offset="-1">-</a>
              <span id="counter" data-counter-target="input" data-count="1"><%= recipe.people %></span>
              <a href="#" class="btn round-bordered incrementer"  data-action="click->counter#increase"  data-offset="1">+</a>
            </div>
            <h3 class="day-name"><%= days[index] %></h3>
            <%= render 'shared/card', recipe: recipe %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <!-- Bouton Randomizer -->
    </div>
      <div class="row">
        <div class="content-randomizer">
          <%= link_to "RandoMiser", plans_path, class: "btn btn--primary randomizer"%>
        </div>
        <!-- Bouton Export -->
        <div class="wicked_pdf">
          <span class="btn btn--primary export">
          <%= link_to 'Export', export_path(@recipes, :format => :pdf), class: "btn btn--primary export" %></span>
        </div>
      </div>
    <div>
</div>
