<!DOCTYPE html>
<!-- ██████   █████  ███    ██ ██████   ██████  ███    ███ ███████  █████  ██       -->
<!-- ██   ██ ██   ██ ████   ██ ██   ██ ██    ██ ████  ████ ██      ██   ██ ██       -->
<!-- ██████  ███████ ██ ██  ██ ██   ██ ██    ██ ██ ████ ██ █████   ███████ ██       -->
<!-- ██   ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██  ██  ██ ██      ██   ██ ██       -->
<!-- ██   ██ ██   ██ ██   ████ ██████   ██████  ██      ██ ███████ ██   ██ ███████  -->
<html>
  <head>
    <!-- UTF-8 because we are French ! -->
    <meta charset="utf-8">
    <!-- wicked_pdf helpers -->
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%#= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body>
    <!-- Menu de la semaine -->
    <div class="container">
      <div class="plan-randomizer">
        <div class="row">
          <h1>RandoMeal</h1>
          <h2>Le menu de votre semaine</h2>
          <% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>
          <% @recipes.each_with_index do |recipe, index| %>
          <div class="col-12 col-md">
            <div class="menu-export">
              <p>-------------------------  ʕ•ᴥ•ʔ  ------------------------------</p>
              <h3><%= days[index] %> : <%= recipe.name %></h3>
              <span class="card-recipe--content__prep-time"><p>Temps de prépration : <%= recipe.prep_duration %> minutes</span></p>
              <span class="card-recipe--content__total-time"><p>• Temps total : <%= recipe.total_duration %> minutes</span></p>
              <span class="card-recipe--content__people"><p>• Pour <%= @nb_persons[index] %> personnes</span></p>
              <span class="card-recipe--content__all-ingredients"><p>• Ingrédients : <%= ingredient_displayer(recipe, @nb_persons[index] ) %></span></p>
            </div>
          </div>
          <% end %>
        </div>
      <!-- PAGE BREAK --><!-- Ne pas supprimer page break, permets la séparation entre page1 et page2 -->
      <!-- Liste de courses -->
      <div class="plan-shopping">
        <h2>Liste des courses</h2>
          <div class="row">
            <div class="col-12 col-md">
              <% @recipes.each_with_index do |recipe, index| %>
                <% recipe.ingredients.each do |ingredient| %>
                  <% quantity = ingredient&.quantity.nil? ? 0 : ingredient.quantity %>
                  <p>• <%= (quantity.fdiv(recipe.people)) * @nb_persons[index] %> <%= ingredient.name %> </p>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
      <!-- Footer -->
      <div class="footer">
        <div class="footer--copyright">
          <div class="row">
            <span class="card-footer--content__built"><p style="text-align:center">Mouliné avec ♥ à Lyon par l'équipe <a href="https://www.RandoMeal.xyz">RandoMeal</a><br>
            <span class="card-footer--contact">✉ Contact : <a href="mailto:contact@randomeal.xyz">contact@randomeal.xyz</a><br>
            <span class="card-footer--content__copyright">© 2022-2022 RandoMeal ®</p>
          </div>
        </div>
      </div>
    </div>
  <body>
</div>
