<!DOCTYPE html>

<!-- ██████   █████  ███    ██ ██████   ██████  ███    ███ ███████  █████  ██       -->
<!-- ██   ██ ██   ██ ████   ██ ██   ██ ██    ██ ████  ████ ██      ██   ██ ██       -->
<!-- ██████  ███████ ██ ██  ██ ██   ██ ██    ██ ██ ████ ██ █████   ███████ ██       -->
<!-- ██   ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██  ██  ██ ██      ██   ██ ██       -->
<!-- ██   ██ ██   ██ ██   ████ ██████   ██████  ██      ██ ███████ ██   ██ ███████  -->

<html>
  <head>
    <title>RandoMeal, l'ultime planificateur de menu pour votre semaine! </title>
    <meta name="description" content="RandoMeal. Planifie votre menu de la semaine pour manger.">
    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- UTF-8 because we are French ! -->
    <meta charset="utf-8">
    <!-- wicked_pdf helpers -->
    <!--<%= wicked_pdf_stylesheet_link_tag "pdf" -%> -->
    <!--<%= wicked_pdf_javascript_include_tag "number_pages" %> -->
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- JS -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
  <%= render 'shared/footer' %>
</html>
