<!DOCTYPE html>

<!-- ██████   █████  ███    ██ ██████   ██████  ███    ███ ███████  █████  ██       -->
<!-- ██   ██ ██   ██ ████   ██ ██   ██ ██    ██ ████  ████ ██      ██   ██ ██       -->
<!-- ██████  ███████ ██ ██  ██ ██   ██ ██    ██ ██ ████ ██ █████   ███████ ██       -->
<!-- ██   ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██  ██  ██ ██      ██   ██ ██       -->
<!-- ██   ██ ██   ██ ██   ████ ██████   ██████  ██      ██ ███████ ██   ██ ███████  -->

<html>
  <head>
    <!-- Primary Meta Tags -->
    <title>Randomeal - Planifier, générer et organiser vos repas de la semaine en seulement quelques clics</title>
    <meta name="title" content="Randomeal - Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <meta name="description" content="Avec Randomeal, gagner du temps et de l'argent avec vos repas ! Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Randomeal - Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <meta property="og:description" content="Avec Randomeal, gagner du temps et de l'argent avec vos repas ! Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <meta property="og:image" content="http://www.randomeal.xyz/images/assets/randomeal_socialsizes.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Randomeal - Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <meta property="twitter:description" content="Avec Randomeal, gagner du temps et de l'argent avec vos repas ! Planifier, générer et organiser vos repas de la semaine en seulement quelques clics">
    <meta property="twitter:image" content="http://www.randomeal.xyz/images/assets/randomeal_socialsizes.png">
    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Favicon -->
    <%= favicon_link_tag %>
    <!-- UTF-8 because we are French ! -->
    <meta charset="utf-8">
    <!-- wicked_pdf helpers -->
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- JS -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/3c8862fa8a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
  <%= render 'shared/footer' %>
</html>
